
#game= game_presenter.present

#info
  - if game.game_over?
    %h1= "#{game.winner} gewinnt!"
  - else
    %h1= "Aktueller Spieler: #{game.current_player}"

  .players
    - game.players.each do |p|
      %p{ class: "player #{p}" }
        %span.name= p
        %span.score= game.score_for(p)

  %p= link_to "reset", url('reset')
