- if game.game_over?
  %h1= "#{game.winner} gewinnt!"
  - game.players.each do |p|
    %p= "#{p}: #{game.score_for(p)}"
- else
  %h1= "Aktueller Spieler: #{game.current_player}"

= game_presenter.present
%p= link_to "reset", url('reset')
